<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask Form İşlemleri</title>
  </head>

  <body>
    <h1>Gönderilen Verinin Yakalanması</h1>
    <form action="/katalog" method="GET">
      <label for="anahtarKelime">Anahtar Kelime: </label>
      <input type="text" id="anahtarKelime" name="anahtarKelime">
      <button type="submit">Ara</button>
    </form>
    <p>{{ data }}</p>
  </body>
</html>
